@import '~ngx-toastr/toastr';
html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
 }
body { margin: 0; font-family: 'Poppins', sans-serif; }

.ityped-cursor{
    padding-left: 3px;
    font-size: 1rem;
    opacity: 0;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
    animation-direction: alternate;
}
 
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}